@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<p class="text-center">
    <img src="~/cowboy-cafe-images/BuckingBronco.png" alt="Bucking Bronco">
</p>
<h2>Whoops partner, you just got bucked off by an error!</h2>
